---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle} subtitle="Soy el subtitulo del layout">
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>